﻿@{
    ViewData["Title"] = "View Security Info";
    Layout = "~/Views/Shared/_LayoutIDTP.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-center">View Security Info </h4>

                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label">
                            FI Private Key <span class="text-danger">*</span>
                        </label>
                        <div class="col-lg-8">
                            <textarea class="form-control h-150px" rows="6" name="FIPrivateKey" id="privateKey" readonly required>'@ViewBag.SecurityKey'</textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label">
                            IDTP Public Key <span class="text-danger">*</span>
                        </label>
                        <div class="col-lg-8">
                            <textarea class="form-control h-150px" rows="6" name="IDTPPublicKey" id="publicKey" readonly required>'@ViewBag.IDTPPublicKey'</textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-8">
                            <a id="btnSubmit1" style="float: right" class="btn btn-info" href="@Url.Content("~/Setup/Index")">
                                Ok
                            </a>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function ()
    {
        var message = '@ViewBag.Message';
        var securityKey = '@ViewBag.SecurityKey';
        var IDTPKey = '@ViewBag.IDTPPublicKey';
        if (message!= null && message != "") {
            swal("Success", message, "success");
            //$("#IDTPPublicKey").val(IDTPKey);
        }

        console.log(securityKey, IDTPKey);
        $('#privateKey').attr('value', securityKey);

        $("#IDTPPublicKey").val(IDTPKey);

        //$("#btnSubmit").click(function (event) {
        //    //$('#preloader').show();
        //    var check = "true";
        //    $.get("/ViewSecurityInfo/Index", { Check: check }.done(function (data) {



        //    });

        //    //    function () {
        //    //        console.log("sdsjk");
        //    //        ////$('#preloader').hide();
        //    //        //if (data != null) {
        //    //        //    if (data == "Device ID registered successfully") {
        //    //        //        swal("Success!", data, "success");
        //    //        //    }
        //    //        //    else {
        //    //        //        swal("Error!", data, "error");
        //    //        //    }
        //    //        //}
        //    //        //else {
        //    //        //    swal("Error!", data, "error");
        //    //        //}
        //    //        //location.reload(true);

        //    //});
        //});
    });

    function GoBackToSetup() {
        var check = "return";

        $.get("/ViewSecurityInfo/Index", { Check:check },
            function () {
                console.log("");
            });
        }
    function GoBackToSetup1() {
        //location.href ="/Setup/Index";
        var data = {};
        data["Check"] = "return";
        var Check = "return";
        $.ajax({
            url: "@Url.Content("~/ViewSecurityInfo/Index")",
            data: JSON.stringify(data),
            type: "GET",
            dataType: "JSON",

            success: function () {
                console.log("");
            },
            //error: function (data) {
            //    console.log(data);
            //    swal("Error!", data.responseJSON['errorMessage'], "error");
            //}
        });
    }
</script>