﻿@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutIDTP.cshtml";
}

@*<style>
        .container-fluid::-webkit-scrollbar {
            display: none;
        }
    </style>*@

<link href="~/css/blue-buttons.css" rel="stylesheet">
<div class="container-fluid" style="margin-top: 20%;height: 450px">

    <div class="center" style="height:400px">
        <div class="row justify-content-md-center">
            <div class="col col-lg-4">
                @*<a class="link-button button w-100" href="@ViewBag.IDTPUrl">*@
                <a class="link-button button w-100" target="_blank" href="@ViewBag.IDTPUrl/Authentication/AutoSignIn?un=@TempData["BankVID"]">
                    Launch IDTP Portal
                </a>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col col-lg-4">
                <a class="link-button button w-100" href="@Url.Content("~/Setup/Index")">
                    Setup
                </a>
            </div>
        </div>
    </div>
</div>