﻿@{
    ViewData["Title"] = "Register Device ID";
    Layout = "~/Views/Shared/_LayoutIDTP.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-center">Register Device ID </h4>
                    @*<form class="ml-5 pt-4" asp-action="Index" method="post">*@
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label">
                            Device ID <span class="text-danger">*</span>
                        </label>
                        <div class="col-lg-6">
                            <input class="form-control" name="DeviceId" id="deviceid" value='@ViewBag.deviceID' readonly />
                            @*@Html.DropDownList("Id", new SelectList(ViewBag.listUser, "Id", "UserName"), "Select User Name", new { @class = "form-control", @id="user_id", required = true })*@
                        </div>
                        <button id="btnGenerate" onclick="showID()" class="btn btn-info">
                            Generate
                        </button>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-6">

                            <button type="submit" id="btnSubmit" style="float: right" class="btn btn-info">
                                Register
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
     $(document).ready(function ()
     {
         $("#btnSubmit").attr("disabled", true);

         $("#btnSubmit").click(function (event) {
             //$('#preloader').show();
             var deviceID = $('#deviceid').val();
             var VID = "";

             $.post("@Url.Content("~/DeviceRegistration/Index")", { DeviceId: deviceID, VirtualId: VID },

                 function (data) {
                     //$('#preloader').hide();
                     if (data != null) {
                         if (data == "Device ID registered successfully") {
                             swal({
                                title: "Success!",
                                 text: data,
                                type: "success",
                                confirmButtonText: "OK"

                            },
                                function (isConfirm) {
                                    if (isConfirm) {
                                        window.location.href = "@Url.Content("~/Setup/Index")";
                                    }
                                });

                         }
                         else if (data == "Session Expired") {
                             location.href = "@Url.Content("~/Home/LogIn")";
                         }
                         else {
                             swal({
                            title: "Error!",
                            text: data,
                            type: "error",
                            confirmButtonText: "OK"
                        },
                            function (isConfirm) {
                                if (isConfirm) {
                                    window.location.href = "@Url.Content("~/Setup/Index")";
                                }
                            });

                         }
                     }
                     else {
                         swal({
                            title: "Error!",
                            text: data,
                            type: "error",
                            confirmButtonText: "OK"
                        },
                            function (isConfirm) {
                                if (isConfirm) {
                                    window.location.href = "@Url.Content("~/Setup/Index")";
                                }
                            });

                     }

                 });

        });
     });

    function showID() {

        var value = '@ViewBag.MACAddress';

        if (value != null && value != "") {

            $('#deviceid').attr('value', value);
            $("#btnSubmit").attr("disabled", false);
        }
    }
    function RegisterDeviceID() {

        var data = {};
        data["deviceId"] = $('#deviceid').val();
        data["virtualId"] = "";
        console.log(JSON.stringify(data));
        $.ajax({
            url: "@Url.Content("~/RegisterDeviceID/Index")",
            data: JSON.stringify(data),
            type: "POST",
            dataType: 'JSON',
            contentType: "application/json",
            success: function (data) {
                console.log(data);
            },
            //error: function (data) {
            //    console.log(data);
            //    swal("Error!", data.responseJSON['errorMessage'], "error");
            //}
        });
    }
</script>