﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ICP</title>
    <link href="~/plugins/jquery-steps/css/jquery.steps.css" rel="stylesheet">
    <link href="~/plugins/sweetalert/css/sweetalert.css" rel="stylesheet">
    <link href="~/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet">
    <link href="~/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="~/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    @*<script src="https://kit.fontawesome.com/49c71035e3.js" crossorigin="anonymous"></script>*@

    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/common/common.min.js"></script>

    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />*@
</head>

<body>
    <style>
        .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
            background-color: #1C7CBC !important;
        }

        .btn-info, .btn-info:hover, .btn-info:active, .btn-info:visited {
            background-color: #1C7CBC !important;
        }

        .btn-flat, .btn-flat:hover, .btn-flat:active, .btn-flat:visited {
            background-color: #1C7CBC !important;
        }
    </style>
    <main role="main">
        @RenderBody()
    </main>

    <script src="~/js/custom.min.js"></script>
    <script src="~/js/settings.js"></script>
    <script src="~/js/gleek.js"></script>
    <script src="~/js/styleSwitcher.js"></script>
    <script src="~/plugins/jquery-steps/build/jquery.steps.min.js"></script>
    <script src="~/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/js/plugins-init/jquery-steps-init.js"></script>
    <script src="~/plugins/sweetalert/js/sweetalert.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
