﻿@using Microsoft.AspNetCore.Identity
@using ICPPortal.Helper
@{
    Layout = null;
    var appVersion = "v" + DBHelper.GetAppVersion();
}


<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ICP</title>
    <link href="~/plugins/jquery-steps/css/jquery.steps.css" rel="stylesheet">
    <link href="~/plugins/tables/css/datatable/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="~/plugins/sweetalert/css/sweetalert.css" rel="stylesheet">
    <link href="~/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet">
    <!-- Page plugins css -->
    <link href="~/plugins/clockpicker/dist/jquery-clockpicker.min.css" rel="stylesheet">
    <!-- Color picker plugins css -->
    <link href="~/plugins/jquery-asColorPicker-master/css/asColorPicker.css" rel="stylesheet">
    <!-- Date picker plugins css -->
    <link href="~/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet">
    <!-- Daterange picker plugins css -->
    <link href="~/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
    <link href="~/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/plugins/jqueryDatePicker/jquery.datetimepicker.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha512-xA6Hp6oezhjd6LiLZynuukm80f8BoZ3OpcEYaqKoCV3HKQDrYjDE1Gu8ocxgxoXmwmSzM4iqPvCsOkQNiu41GA==" crossorigin="anonymous" />
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/common/common.min.js"></script>

</head>
<body>
    <style>
        /*.content-body::-webkit-scrollbar {
            display: none;
        }*/
        html {
            overflow: hidden;
        }

        .page-item.active .page-link {
            z-index: 0;
        }

        div.dataTables_filter input {
            background: #F3F3F9;
        }

            div.dataTables_filter input:focus {
                background: #F3F3F9;
            }

        thead th {
            white-space: nowrap;
        }

        tbody td {
            white-space: nowrap;
        }

        .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
            background-color: #1C7CBC !important;
        }

        .btn-info, .btn-info:hover, .btn-info:active, .btn-info:visited {
            background-color: #1C7CBC !important;
        }

        .btn-flat, .btn-flat:hover, .btn-flat:active, .btn-flat:visited {
            background-color: #1C7CBC !important;
        }

        .page-item.active .page-link {
            background-color: #1C7CBC !important;
        }

        .home-icon {
            color: #1C7CBC !important;
        }

            .home-icon:hover {
                color: #1C7CBC !important;
            }
    </style>
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header" style="background:#1C7CBC">
            <div class="brand-logo">
                <a href="@Url.Action("Index", "Home")">
                    <!--<span>-->
                    @*<img src="~/images/logo-text.png" alt="">*@
                    <!--<h1 style="color:white;"> ICP </h1>
    </span>
    <span>-->
                    @*<img src="~/images/logo-text.png" alt="">*@
                    <!--<h5 style="color:white;"> @appVersion </h5>
    </span>-->
                    <span style="font-size: 2.25rem;color: white;">ICP</span> <span style="font-size: 0.9rem;color: white;">@appVersion</span>
                </a>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->
        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content clearfix">
                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>

                    </div>
                </div>
                <div class="header-left">
                    <div class="input-group icons">


                        <div class="input-group-prepend">
                            <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" style="color:#1C7CbC;font-size:18px;margin-top: 4px;" id="basic-addon1">

                                @*<p style="color:black;font-size:18px"> Welcome, &nbsp;</p><p style="color:#1C7CbC;">@curUser.FullName</p>*@
                                <a class="home-icon" href="@Url.Action("Index", "Home")">
                                    <i class="fas fa-home"></i> Home
                                </a>
                            </span>
                        </div>

                    </div>
                </div>
                <div class="header-right">
                    <ul class="clearfix">
                        <li class="icons dropdown">

                            <div class="input-group-prepend">
                                <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" style="color:#1C7CbC;font-size:18px;margin-top: 9px;" id="basic-addon1">

                                    <p id="bankName" style="color:black;font-size:18px"> Welcome,  &nbsp;</p><p style="color:#1C7CbC;">@ViewBag.bankName</p>

                                </span>
                            </div>

                        </li>
                        <li class="icons dropdown">
                            <a href="#" data-toggle="dropdown">
                                <i class="fas fa-user-circle fa-x"></i>
                            </a>
                            <div class="drop-down dropdown-profile dropdown-menu">
                                <div class="dropdown-content-body">
                                    <ul>

                                        @*<li class="nav-item">
                                                <a id="manage" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><i class="fas fa-users-cog"></i>"#"</a>
                                            </li>*@
                                        @*asp-page="/Home/LogOut"*@
                                        @*asp-route-returnUrl="@Url.Action("LogIn", "Home")"*@
                                        <li class="nav-item">
                                            <form id="logoutForm" class="form-inline">
                                                <button id="logout" type="button" class="nav-link btn btn-link" onclick="location.href='@Url.Action("LogOut", "Home")'"
                                                        style="color:#1C7CBC">
                                                    <i class="fas fa-sign-out-alt"></i> &nbsp;Logout
                                                </button>
                                            </form>
                                        </li>

                                        @*<li class="nav-item">
                                                <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
                                            </li>*@


                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->
        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="nk-sidebar">
            <div class="nk-nav-scroll">

            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->
        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body" style="height:300px;min-height: 300px;">

            @RenderBody()

        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright &copy; Designed & Developed by <a href="#">Orion Informatics Ltd.</a> 2020</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <script src="~/js/custom.min.js"></script>
    <script src="~/js/settings.js"></script>
    <script src="~/js/gleek.js"></script>
    <script src="~/js/styleSwitcher.js"></script>
    <script src="~/plugins/jquery-steps/build/jquery.steps.min.js"></script>
    <script src="~/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/js/plugins-init/jquery-steps-init.js"></script>
    <script src="~/plugins/tables/js/jquery.dataTables.min.js"></script>
    <script src="~/plugins/tables/js/datatable/dataTables.bootstrap4.min.js"></script>
    <script src="~/plugins/tables/js/datatable-init/datatable-basic.min.js"></script>
    <script src="~/plugins/metismenu/js/metisMenu.min.js"></script>
    @*<script src="~/plugins/sweetalert/js/sweetalert.init.js"></script>*@
    <script src="~/plugins/sweetalert/js/sweetalert.min.js"></script>
    <script src="~/plugins/jqueryDatePicker/jquery.datetimepicker.full.min.js"></script>
    @RenderSection("Scripts", required: false)
    <script>
        $(document).ready(function () {
            if ('@ViewBag.check' == "true") {
                $('.header').hide();
            }

        });
    </script>
</body>
</html>
