﻿a.link-button.button {
    color: white;
    display: block;
    float: right;
    clear: right;
    margin-top: 10px;
    margin-bottom: 0;
    padding: 1.3em 0 0;
    min-width: 380px;
    min-height: 60px;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    font-size: 16px;
    -webkit-column-rule-width: 0;
    -moz-column-rule-width: 0;
    column-rule-width: 0;
    -webkit-column-rule-style: none;
    -moz-column-rule-style: none;
    column-rule-style: none;
    justify-self: auto;
    background-color: #1C7CbC;
}

a.link-button span.button-link-text-1 {
    font-style: normal;
    font-size: 1.125rem;
}

a.link-button span.button-link-text-2 {
    font-style: normal;
    font-size: 1.125rem;
}

a.link-button span.button-link-text-3 {
    font-style: normal;
}

a.link-button span.button-link-text-4 {
    font-size: 1.0625rem;
}

a.link-button span.button-link-text-5 {
    font-size: 1.125rem;
}
