﻿@{
    ViewData["Title"] = "Setup Endpoints";
    Layout = "~/Views/Shared/_LayoutIDTP.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-center">Setup Endpoints </h4>
                    <form id="endpoints" autocomplete="off">

                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">
                                PIM URL <span class="text-danger">*</span>

                            </label>
                            <div class="col-lg-8">
                                <input class="form-control" name="PIMPortal" id="pim" value='@ViewBag.PIMURL' required />
                                <span id="vals1" class="text"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">
                                IDTP API URL <span class="text-danger">*</span>
                            </label>
                            <div class="col-lg-8">
                                <input class="form-control" name="IDTPAPI" id="api" value='@ViewBag.IDTPAPIURL' required />
                                <span id="vals2" class="text"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">
                                IDTP Portal URL <span class="text-danger">*</span>
                            </label>
                            <div class="col-lg-8">
                                <input class="form-control" name="IDTPURL" id="url" value='@ViewBag.IDTPPortalURL' required />
                                @*@Html.DropDownList("Id", new SelectList(ViewBag.listUser, "Id", "UserName"), "Select User Name", new { @class = "form-control", @id="user_id", required = true })*@
                                <span id="vals3" class="text"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-3"></div>
                            <div class="col-lg-8">
                                <a id="btnSubmit1" class="btn btn-info" style="float: right;margin:5px;" href="@Url.Content("~/Setup/Index")">
                                    Cancel
                                </a>
                                <Button id="btnSubmit2" class="btn btn-info" style="float: right; margin:5px;">
                                    Save
                                </Button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function ()
    {
        @*var message = '@ViewBag.Message';
        var securityKey = '@ViewBag.SecurityKey';
        var IDTPKey = '@ViewBag.IDTPPublicKey';
        if (message!= null && message != "") {
            swal("Success", message, "success");
            //$("#IDTPPublicKey").val(IDTPKey);
        }*@





        $("#btnSubmit2").click(function (e) {
            e.preventDefault();
            var flag = "true";
            var msg = "please fill out this field";
            var val1 = document.getElementById("pim").value;
            var val2 = document.getElementById("api").value;
            var val3 = document.getElementById("url").value;
            //var val1 = $("#pim").val;
            //var val2 = $("#api").val;
            //var val3 = $("#url").val;
            console.log(val1, val2);
            console.log(val3);
            if (val1 == "" || val1 == null) {
                document.getElementById("vals1").textContent = msg;
                //$('#vals1').attr('value', msg);
            }
            else if (val2 == "" || val2 == null) {
                document.getElementById("vals2").textContent = msg;

            }
            else if (val3 == "" || val3 == null) {
                document.getElementById("vals3").textContent = msg;
                //$('#vals3').attr('value', msg);

            }
            else{
                Save();
            }

    });
    });

    function Save() {
          $.ajax({
                type: "POST",
                url: "@Url.Content("~/SetupEndpoints/Index/")",
                data: $("#endpoints").serialize(),
                success: function (result) {
                    if (result != null) {

                        if (result == "Endpoints saved successfully") {
                            swal({
                                title: "Success!",
                                text: result,
                                type: "success",
                                confirmButtonText: "OK"

                            },
                                function (isConfirm) {
                                    if (isConfirm) {
                                        window.location.href = "@Url.Content("~/Setup/Index")";
                                    }
                                });
                    }
                    else if (result == "Session Expired") {
                        location.href ="@Url.Content("~/Home/LogIn")";
                    }
                    else {
                            swal({title: "Error!",
                                text: result,
                                type: "error",
                                confirmButtonText: "OK"
                                },
                        function (isConfirm) {
                            if (isConfirm) {
                                window.location.href = "@Url.Content("~/Setup/Index")";
                            }
                        });
                    }
                }
                else {
                        swal({
                            title: "Error!",
                            text: result,
                            type: "error",
                            confirmButtonText: "OK"
                        },
                            function (isConfirm) {
                                if (isConfirm) {
                                    window.location.href = "@Url.Content("~/Setup/Index")";
                                }
                            });
                }

            },
            error: function (result) {
                alert('error');
            }
        });
        }
    function GoBackToSetup1() {
        //location.href ="/Setup/Index";
        var data = {};
        data["Check"] = "return";
        var Check = "return";
        $.ajax({
            url: "@Url.Content("~/ViewSecurityInfo/Index")",
            data: JSON.stringify(data),
            type: "GET",
            dataType: "JSON",

            success: function () {
                console.log("");
            },
            //error: function (data) {
            //    console.log(data);
            //    swal("Error!", data.responseJSON['errorMessage'], "error");
            //}
        });
    }



</script>