﻿@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutIDTP.cshtml";
}
<link href="~/css/blue-buttons.css" rel="stylesheet">
<div class="container-fluid" style="margin-top:20%;">
    <div class="row justify-content-md-center">
        <div class="col col-lg-4">
            <a class="link-button button w-100" href="@Url.Content("~/DeviceRegistration/Index")">
                Register Device ID
            </a>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col col-lg-4">
            <a class="link-button button w-100" href="@Url.Content("~/SecurityInfo/Index")">
                View Security Info
            </a>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col col-lg-4">
            <a class="link-button button w-100" href="@Url.Content("~/SetupEndpoints/Index")">
                Setup Endpoints
            </a>
        </div>
    </div>

</div>