﻿
@{
    ViewData["Title"] = "LogIn";
}

<div class="login-form-bg h-100">
    <div class="container h-100" style="margin-top:10%">
        <div class="row justify-content-center h-100">
            <div class="col-xl-6">
                <div class="form-input-content">
                    <div class="card login-form mb-0">
                        <div class="card-body pt-5">
                            <h5 class="card-header text-center">Log In</h5>
                            <form id="account" asp-action="LogIn" method="post">
                                @*<div asp-validation-summary="All" class="text-danger"></div>*@
                                <span><label class="text-danger" id="warning"></label></span>
                                <div class="form-group">
                                    <input name="UserName" class="form-control" value='@TempData["VID"]' readonly/>
                                </div>
                                <div class="form-group">
                                    <input name="Password" class="form-control" type="password" placeholder="Password"/>
                                </div>
                                <div class="form-group" style="text-align:right">
                                    <button type="submit" class="btn btn-primary">Log in</button>
                                </div>
                                @*<p class="mt-5 login-form__footer">Don't have an account? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="text-primary">Sign Up</a> now</p>*@
                                <div class="form-group">
                                    @*<p>
                                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                                        </p>*@
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
     $(document).ready(function ()
    {
        var message = '@TempData["message"]';

         if (message != null && message != "") {

             document.getElementById('warning').innerHTML = message;
         }
         else {
             document.getElementById('warning').innerHTML = "";
         }
    });
</script>

